/* Place CSS styles here */
body {
  background-color: #fffdd0;
}
div{
text-align: center;
padding: 50px;;
margin-top:0;
background:#f2f2f2;
margin:0 auto;
width:984px;
border-style: solid;
border-width: 10px;
}

a{
color: #daa520;
}
a:hover{
color: #ff0000;
}

img{
  align-content: center;
  width: 50%;
  height: 50%;
}


h1{
text-align: center;
font-size: 84pt;
}

h2{
  text-align: center;
  font-size: value 72pt;
}

ul{
font-size: 24pt;
text-align: center;
list-style-position: inside;
}
body{
color: black;
font-family: Helvetica, Arial, sans-serif;
align-content: center;
}

p{
text-align: center;
}